@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500&family=EB+Garamond&family=Special+Elite&display=swap');/*********************** Page variables ***********************/

/*********************** Page variables ***********************/

html {
    /* modular scale */
    --factor: 1.4;
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--factor));
    --s2: calc(var(--s1) * var(--factor));
    --s3: calc(var(--s2) * var(--factor));
    --s4: calc(var(--s3) * var(--factor));
    --s5: calc(var(--s4) * var(--factor));
    --s-1: calc(var(--s0) / var(--factor));
    --s-2: calc(var(--s-1) / var(--factor));
    --s-3: calc(var(--s-2) / var(--factor));
    --s-4: calc(var(--s-3) / var(--factor));
    --s-5: calc(var(--s-4) / var(--factor));
}

/*********************** Page layout ***********************/

/* Special Case - narrow display */
@media screen and (max-width:715px){

    html{
        --factor: 1.3;
    }

    body header{
        min-height: 24rem;
        background-size: cover;
    }

    body main{
        margin: 50px 12px 0 12px;
        font-size: var(--s1);
    }

    header h1{
        top:27%;
        font-size: var(--s3);
    }

    header nav li{
        display: list-item;
    }

    figure .youtubeVideoFrame{
        width: 100%;
    }

    main .imageFrame{
        margin: 20px 20px 20px 5px !important;
        width: auto !important;
    }

    main .table{
        width: 100%;
    }

    footer{
        background-size: cover;
    }

    #quotation{
        font-size: var(--s3) !important;
    }
}

body{
    margin: 0;
}

main{
    max-width: 63ch;
    margin: 50px auto 0 auto;
    font-family: 'Special Elite', cursive;
    font-size: var(--s0);
}

header{
    min-height: 20rem;
    position: relative;
    background-image: url("http://homepages.cs.ncl.ac.uk/harold.fellermann/csc8018/ocean_cleanup/resources/ocean.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
}

footer{
    padding: 60px;
    background-image: url("http://homepages.cs.ncl.ac.uk/harold.fellermann/csc8018/ocean_cleanup/resources/ocean.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    margin: 50px 0 0 0;
    text-align: center;
}

/*********************** Header formatting ***********************/

/* Placing main heading in centre */
h1{
    margin: 0;
    position: absolute;
    left: 50%;
    top:45%;
    transform: translate(-50%, -50%);
    font-family: 'Darker Grotesque', sans-serif;
    font-size: var(--s5);
    color: white;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.2);;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

/* h1 special text config */
.firstWord{
    vertical-align: super;
    font-weight: lighter;
    font-size: 40%;
}

.secondWord{
    font-weight: 400;
}

.space{
    display: none;
}

/* nav bar */
nav{
    overflow: hidden;
    background-color: #4b4b4b;
    opacity: 75%;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

header li{
    display: inline-block;
}

header li a{
    display: inline-block;
    max-width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    margin:0;
    padding: 8px var(--s1);
    opacity: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: var(--s1);
}

#subBullet{
    display: none;
}

li a:hover {
    background-color: white;
    color: darkcyan;
}

/*********************** Main formatting ***********************/
.topHeading{
    display: none;
}

h2{
    margin-top: 3rem;
}

h3{
    margin-top: 3rem;
}

P{
    margin-top: 1rem;
    font-family: 'EB Garamond', serif;
}

/*********************** Content specific formatting ***********************/
/* YouTube video */
.youtubeVideoFigure{
    margin: 50px 0 0 0;
    width: 100%;
}

.youtubeVideoFrame{
    position: relative;
    width: 63ch;
    height: calc(63ch * 9/16);
}

/* Images */
.imageFrame{
    position: relative;
    box-shadow: 10px 10px 5px grey;
    border: 1px lightgray solid;
    border-radius: 3px;
    padding: 8px 8px 2px 8px;
}

#garbagePatches{
    float:left;
    transform: rotate(-2deg);
    width: 50%;
    margin: 15px 44px 15px 0;
}

#boyanSlat{
    float:right;
    transform: rotate(2deg);
    width: 30%;
    margin: 15px 0 30px 30px;

}

#oceanCleanupPic{
    float:left;
    transform: rotate(-2deg);
    width: 47%;
    margin: 15px 35px 30px 0;
}

#interceptor{
    float:right;
    transform: rotate(2deg);
    width: 41%;
    margin: 15px 0 30px 30px;
}

.picture{
    max-width: 100%;
}

/* Captions */
figcaption{
    text-align: right;
    color: grey;
    margin-top: 18px;
}

/* table */
.table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table caption{
    font-weight: bold;
    border-top: 3px solid black;
}

table{
    padding: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-family: "EB Garamond", serif;
    alignment: center;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid black;
}

td{

    padding-top: 3px;
    padding-bottom: 3px;
}

/* Quote */
#quotation{
    color: #5dbec1;
    margin: 0 40px;
    font-size: var(--s2);
}

/* Mitigation section special formatting */
#suggestions{
    font-family: 'EB Garamond', serif;
}


/*********************** Footer formatting ***********************/
footer p a{
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
    color: black;
    font-size: var(--s1);
}